.about {
	padding-top: 100px;
	padding-bottom: 70px;
}

.about__wrapper {
	max-width: 460px;
}


.about__title {
	font-family: "Comfortaa", sans-serif;
	font-weight: 400;
	font-size: 50px;
	margin-bottom: 30px;
}

.about__text:not(:last-of-type) {
	margin-bottom: 30px;
}