.help {
	background-color: var(--fourth);
}

.help__wrapper {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	gap: 50px;
	counter-reset: counter 0;
}

.section__title--help {
	color: var(--first);
	text-align: center;
}

.help__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.help__row--second .help__subtitle {
	margin-bottom: 30px;
}

.help__row--second {
	display: block;
}

.help__row-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.help__column-left {
	flex-basis: 580px;
}



.help__subtitle::before {
	display: flex;
	align-items: center;
	justify-content: center;

	counter-increment: counter 1;
	content: counter(counter);

	border-radius: 50px;
	background-color: white;
	width: 80px;
	height: 80px;

	color: var(--first);
	font-size: 50px;
	line-height: 1;
}

.help__subtitle {
	display: flex;
	align-items: center;
	gap: 20px;

	font-size: 30px;
	font-weight: 500;
	line-height: 1.33;
}

.help__text {
	font-weight: 300;
	line-height: 1.5;
	padding-left: 100px;
	max-width: 480px;
}

.help__text--third,
.help__text--right {
	max-width: 580px;
	flex-basis: 580px;
}

.help__text--right {
	padding-left: 0;
}

.help__text--right p:not(:last-child) {
	margin-bottom: 50px;
}


.help__text {}

.help__text--bold {
	margin-bottom: 20px;
	font-weight: 600;
}

.help__row-imgs {
	display: grid;
	/* flex-shrink: 0; */
	grid-template-columns: repeat(3, 180px);
	grid-template-rows: 139px 139px;
	gap: 20px;
	grid-template-areas:
		"img-1 img-2 img-2"
		"img-3 img-2 img-2";
}

.help__row-imgs--second {
	grid-template-columns: unset;
	grid-template-rows: unset;
}

.help__row-imgs--third {
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"img-1 img-2"
		"img-1 img-3";
}

.help__row-imgs img:nth-child(1) {
	grid-area: img-1;
	object-fit: cover;
	height: 100%;
}

.help__row-imgs img:nth-child(2) {
	grid-area: img-2;
	object-fit: cover;
	height: 100%;
}

.help__row-imgs img:nth-child(3) {
	grid-area: img-3;
	object-fit: cover;
	height: 100%;
}


.help-button--center {
	align-self: center;
}


@media (max-width:1150px) {
	.help__subtitle {
		font-size: 24px;
		line-height: 1.25;
	}

	.help__text {
		font-size: 18px;
		line-height: 1.44;
	}

	.help__row-imgs img:nth-child(2) {
		object-fit: cover;
		height: 100%;
	}

	.help__row-imgs {
		grid-template-columns: 180px 280px;

		flex-shrink: 0;
		flex-basis: 480px;
		max-width: 480px;
	}

	.help__row-imgs--second {
		flex-basis: 400px;
		max-width: 400px;
	}

	.help__row-imgs--second>img {
		height: 349px;
		object-fit: cover;
	}

	.help__row-imgs--second {
		display: block;
	}

	.help__text--right p:not(:last-child) {
		margin-bottom: 40px;
	}

	.help__text--third {
		max-width: 480px;
	}

	.help__text--bold {
		max-width: 280px;
	}

	.help__row-imgs--third {
		max-width: 380px;
	}

	.help__row-imgs--third>img {
		height: 100%;
	}

	.help__row-imgs--third {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}


@media (max-width:900px) {
	.help__subtitle::before {
		width: 60px;
		height: 60px;
		font-size: 34px;
		line-height: 1.18;
	}

	.help__subtitle {
		font-size: 18px;
		line-height: 1.5;
	}

	.help__row {
		flex-direction: column;
		gap: 30px;
	}

	.help__column-left {
		flex-basis: unset;
	}

	.help__text {
		font-size: 14px;
		line-height: 1.43;
		padding-left: unset;
		max-width: unset;
		padding-left: 80px;
	}

	.help__row-imgs>img {
		object-fit: contain;
	}

	.help__row-imgs {
		align-self: center;
		grid-template-columns: 300px 380px;
		grid-template-rows: 162px 209px;
		grid-template-areas:
			"img-1 img-2"
			"img-3 img-2";
		flex-shrink: 0;
		flex-basis: unset;
		max-width: unset;
	}

	.help__row-content {
		flex-direction: column;
		gap: 30px;
	}

	.help__row-imgs--second>img {
		height: unset;
	}

	.help__text--right {
		order: -1;
	}

	.help__text--right {
		flex-basis: unset;
	}

	.help__row--second .help__subtitle {
		margin-bottom: unset;
	}

	.help__text--bold {
		max-width: unset;
		margin-bottom: 10px;
	}

	.help__row-imgs--third {
		grid-template-columns: 300px 380px;
		grid-template-rows: 230px 241px;
		grid-template-areas:
			"img-1 img-2"
			"img-1 img-3";
	}
}