.burger {
	position: absolute;
	z-index: 3;
	display: none;
	width: 394px;
	height: 421px;
	background-color: #F2F0F1;
	clip-path: polygon(0% 0%, 52px 27px, 52px 27px, 100% 27px, 100% 100%, 0% 100%);
	padding: 70px 40px 50px 20px;

	border-bottom: 10px solid var(--first);

	@media (max-width:1100px) {
		padding: 55px 20px 40px;
		width: 349px;
		height: 347px;
	}

	@media (max-width:800px) {
		height: 415px;
	}

	@media (max-width:600px) {
		position: absolute;
		left: 0;
		width: 320px;
		height: 326px;
		padding: 5px 25px;

		clip-path: unset;
	}

	.header__tel {
		display: none;

		@media (max-width:800px) {
			display: flex;
			padding-left: 20px;

			&::before {
				width: 18px;
				height: 18px;
			}
		}

		@media (max-width:600px) {
			padding-left: 10px;
		}
	}

	&__list {
		font-weight: 500;
		line-height: 1.5;

		@media (max-width:1100px) {
			font-size: 18px;
			line-height: 1.33;
		}

		@media (max-width:800px) {
			margin-bottom: 20px;
		}

		@media (max-width:600px) {
			font-size: 14px;
			margin-bottom: 0px;
		}


	}

	&__item {
		padding: 15px 20px;

		@media (max-width:1100px) {
			padding: 10px 20px 16px;
		}

		@media (max-width:600px) {
			padding: 15px 10px;
		}

		&:not(:last-child) {
			border-bottom: 1px solid var(--first);
		}
	}
}