.callback {
	padding: 90px 0;
}

.container--callback {}

.callback__content-wrapper {
	max-width: 780px;
	margin: 0 auto;
	padding: 50px 93px;
	border-radius: 20px;
	background-color: rgb(242, 240, 241);
	text-align: center;
}

.callback__title {
	color: rgb(255, 138, 0);
	font-size: 30px;
	font-weight: 700;
	line-height: 1.33;
	margin-bottom: 30px;
}

.callback__text {
	font-size: 20px;
	font-weight: 300;
	line-height: 1.5;

	margin-bottom: 20px;
}

.callback__text--orange {
	font-weight: 600;
	color: #ff8a00;
}

.callback__contacts {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 45px;
	font-style: normal;
	font-weight: 600;
	line-height: 1.5;
	margin-bottom: 60px;
}

.tel,
.mail {
	display: flex;
	justify-content: space-between;
	gap: 17px;
	align-items: center;
	/* margin: 0 auto; */
	width: max-content;
}

.tel::before,
.mail::before {
	content: "";

	display: inline-block;
	vertical-align: middle;
}

.tel::before {
	min-width: 18px;
	min-height: 18px;

	background-image: url("./../img/form/phone.svg");
	background-repeat: no-repeat;
}

.mail::before {
	min-width: 20px;
	min-height: 16px;

	background-image: url("./../img/form/mail.svg");
	background-repeat: no-repeat;
}

.contacts-form__text {
	margin-bottom: 20px;
}

.inputs-container {
	gap: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 34px;
}


.input-wrapper {
	width: 280px;
	display: flex;
	flex-direction: column;
	/* margin: 0 auto; */
}

.input-wrapper input {
	border: unset;
}


.input-label {


	font-size: 12px;
	font-weight: 300;
	line-height: 1.17;
	text-align: left;
}



.contacts-form__phone-input,
.contacts-form__mail-input {
	height: 40px;
	width: 100%;
}

.help-button--form::before {
	width: 66px;
	height: 57px;
}

.help-button--form {
	gap: 11px;
	font-size: 12px;
	margin-left: auto;
}


@media (max-width:1150px) {
	.callback__content-wrapper {
		max-width: 680px;
	}

	.callback__title {
		font-size: 24px;
		line-height: 1.25;
		margin-bottom: 20px;
	}

	.callback__contacts {
		margin-bottom: 40px;
	}

	.callback__text {
		max-width: 480px;
		
	}

	.callback__text,
	.callback__contacts,
	.contacts-form__text {
		font-size: 18px;
		line-height: 1.33;
	}

	.tel,
	.mail {
		gap: 10px;
	}

	.input-wrapper {
		width: 200px;
	}


	.input-label {
		font-size: 8px;
		margin-bottom: 4px;
	}

	.input-wrapper input {
		height: 35px;
	}
}

@media (max-width:800px) {
	.callback__content-wrapper {
		max-width: 540px;
		padding: 40px 60px;
	}

	.callback__title {
		font-size: 18px;
		line-height: 1.33;
	}

	.callback__text {
		margin-bottom: 10px;
	}

	.callback__text,
	.callback__contacts,
	.contacts-form__text {
		font-size: 14px;
		line-height: 1.4;
	}

	.contacts-form__text {
		margin-bottom: 20px;
	}

	.callback__contacts {
		gap: 40px;
		margin-bottom: 30px;
	}
}

@media (max-width:560px) {
	.callback__content-wrapper {
		max-width: 540px;
		padding: 30px;
	}

	.callback__title {
		font-size: 18px;
		line-height: 1.4;
		margin-bottom: 14px;
	}

	.callback__text {
		margin-bottom: 10px;
	}

	.callback__text,
	.callback__contacts,
	.contacts-form__text {
		font-size: 14px;
		line-height: 1.4;
	}

	.contacts-form__text {
		margin-bottom: 20px;
	}

	.callback__contacts {
		/* flex-direction: column; */
		align-items: center;
		gap: 11px;
		margin-bottom: 30px;
	}

	.inputs-container {
		gap: 14px;
	}

	.help-button--form {
		margin: 0 auto;

	}

	.help-button--form::before {
		width: 52px;
		height: 45px;
	}

}