.footer {
	background-color: $second;
	color: #fff;

	&__information {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 90px;

		@media (max-width:1150px) {
			margin-bottom: 50px;
		}

		@media (max-width:800px) {
			flex-direction: column;
			align-items: flex-start;
		}

	}

	&__map {
		width: clamp(400px, 47vw, 680px);
		height: clamp(150px, 25.9vw, 360px);
		order: 1;

		@media (max-width:800px) {
			width: 100%;
			height: clamp(160px, 34.5vw, 265px);
		}
	}

	&__contacts {
		flex-basis: 320px;
		margin-right: 60px;

		@media (max-width:1150px) {
			margin-right: 0;
			flex-basis: 280px;
		}

		@media (max-width:800px) {
			width: 100%;
			flex-basis: unset;
			margin-bottom: 40px;
			display: flex;
			justify-content: space-between;
		}

		@media (max-width:600px) {
			flex-direction: column;
			// align-items: flex-start;
		}
	}

	&__comunication {
		align-self: flex-end;

		@media (max-width:600px) {
			align-self: flex-start;
		}
	}

	&__about {
		@media (max-width:600px) {
			margin-bottom: 20px;
		}
	}

	&__title {
		font-family: 'Comfortaa';
		font-size: 40px;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 20px;

		@media (max-width:1150px) {
			font-size: 34px;
		}

		@media (max-width:800px) {
			max-width: 270px;
		}

		@media (max-width:600px) {
			max-width: 200px;
			font-size: 24px;
		}

	}

	&__subtitle {
		font-family: 'Helvetica Neue Cyr';
		font-size: 20px;
		line-height: 1.3;
		font-weight: 300;

		@media (max-width:1150px) {
			font-size: 18px;
		}

		@media (max-width:600px) {
			font-size: 14px;
		}
	}

	&__address {
		font-size: 14px;
		line-height: 1.3;
		font-weight: 300;
		margin-bottom: 30px;

		@media (max-width:800px) {
			margin-bottom: 0;
		}
	}

	&__content {
		display: flex;
		justify-content: space-between;
		gap: 15px;

		@media(max-width:600px) {
			flex-direction: column;
			gap: 20px;
		}
	}

	&__copyright {
		p {
			font-size: 20px;
			line-height: 1.3;

			@media (max-width:1150px) {
				font-size: 18px;
			}

			@media (max-width:600px) {
				font-size: 14px;
			}
		}
	}

	&__logo {
		margin-bottom: 9px;

		@media (max-width:1150px) {
			width: 300px;
		}

		@media (max-width:600px) {
			width: 200px;
		}

	}

	&__links {}

	&__designer {
		font-size: 14px;
		line-height: 1.14;

		& a:focus {
			outline: none;
			color: #F4972A
		}

		@media (max-width:600px) {
			font-size: 8px;
			line-height: 1.5;
		}
	}

	.tel,
	.mail {
		@media (max-width:800px) {
			font-size: 18px;
			line-height: 1.33;
		}
	}

	.tel {
		margin-bottom: 20px;
	}
}

.socials {
	display: flex;
	max-width: 280px;
	gap: 40px;
	margin-right: 100px;
	margin-bottom: 18px;

	@media (max-width:1150px) {
		margin-right: 0;
		// gap: 30px;
	}

	@media (max-width:800px) {
		gap: 20px;
	}

	@media (max-width:600px) {
		gap: 14px;
	}

	&__item {}

	&__link {
		color: $first;

		&:hover {
			color: #F4972A;
		}

		&:focus {
			outline: none;
			color: #F4972A;
		}

		&--vk {}

		&--telegram {}

		&--pinterest {}

		&--stumbleupon {}
	}


}

.icon-marker {
	cursor: pointer;

	width: 39px;
	height: 59px;
	border-radius: 50%;

	position: relative;
	transform: translate(-50%, -50%);
}

.icon-marker:hover {
	scale: 1.27;

}

.ymaps3x0--marker-layer,
.ymaps3x0--marker-layer {
	width: 39px !important;
	height: 59px;
}

.ymaps3x0--map-copyrights,
.ymaps3x0--map-copyrights_bottom,
.ymaps3x0--map-copyrights_right {
	display: none !important;
}