:root{
	scroll-behavior: smooth;
}
body {
	position: relative;
	overflow-x: hidden;
	min-width: 320px;
	min-height: 100vh;
	font-family: 'Helvetica Neue Cyr', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	font-size: 20px;
	color: var(--second);
	background-color: #fff;
	font-weight: 300;
}

html {
	position: relative;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

svg {
	max-height: 100%;
}

button {
	padding: 0;
	cursor: pointer;
	border: none;
	background-color: transparent;
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
	margin: 0;
}

iframe {
	border: none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip: rect(1px 1px 1px 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.container {
	box-sizing: content-box;
	max-width: 1180px;
	margin: 0 auto;
	padding: 0 15px;
}

.bold {
	font-weight: bold;
}

figure {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

.section {
	padding: 90px 0;
}

*:focus {
	outline-color: var(--first);
}

@media (max-width:1150px) {
	.container {
		max-width: 880px;
	}

	.section {
		padding: 80px 0 40px;
	}
}

@media (max-width:900px) {
	.container {
		max-width: 700px;
	}
}

@media (max-width:800px) {
	.section {
		padding: 60px 0 30px;
	}
}

@media (max-width: 600px) {
	.section {
		padding: 40px 0 25px;
	}
}


/* ! HELP BUTTON */

.help-button::before {
	content: "";
	display: block;
	background-image: url("./../img/icons/paw.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 101px;
	height: 87px;
	filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.25));
	transition: filter 0.25s ease-in;
	/* Параметры тени */

}

.help-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 17px;

	color: var(--first);
	font-family: 'Helvetica Neue Cyr';
	font-size: 14px;
	font-weight: 500;
	line-height: 1.257;
	text-align: center;
	text-transform: uppercase;
	max-width: 180px;
}

/* .help-button::after .help-button:hover  { */
/* .help-button:hover::after { */
.help-button:hover::before {
	/* background-image: none; */
	/* background-image: url("./../img/icons/paw-hover.png"); */
	filter: drop-shadow(0 4px 6px var(--first));
	/* filter: drop-shadow(0px 4px 6px 0px var(--first)); */
	/* box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25); */
}

@media(max-width:1150px) {
	.help-button::before {
		width: 76px;
		height: 65px;
	}
}

@media(max-width:560px) {
	.help-button::before {
		width: 46px;
		height: 40px;
	}

	.help-button {
		font-size: 8px;
		line-height: 1.5;
	}

}