.header {
	padding: 21px 0 27px;
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.burger-btn {
	&:hover {
		color: #5B5656;
	}

	outline-color: $opacity-color;

	transition: outline 0.3s ease-in;

	&:focus {
		outline: 1px solid $first;
	}
}


/* 
.main-title::after {
	content: "";
	display: block;
	width: 31px;
	height: 31px;
	 //position: absolute;
	//top: 0;
	//right: 0; 


	background-image: url("./../img/header/pawprints.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}


.main-title {
	// position: relative;
	font-family: 'Comfortaa';
	font-size: 40px;

	margin-left: auto;
	margin-right: 196px;
}

.small-main-title {
	font-family: 'Helvetica Neue Cyr';
	font-weight: 300;
	font-size: 16px;
}

.logo-link {

	display: flex;
	flex-direction: column;
	align-items: center;
}
 */

.logo-link {
	margin-left: auto;
	margin-right: 196px;
	outline-color: $opacity-color;
	transition: outline 0.3s ease-in;

	&:focus {
		outline: 1px solid $first;
	}
}

.logo-img {}


.header__tel {
	font-weight: 500;
	line-height: 1.5;
	display: flex;
	gap: 14px;
	text-decoration-line: underline;
	text-decoration-color: #00000000;
	transition: color 0.3s ease-in, text-decoration-color 0.3s ease-in;

	&::before {
		content: "";
		display: block;
		width: 24px;
		height: 24px;
		background-image: url("./../img/icons/phone.svg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}

	&:hover {
		color: #5B5656;
		text-decoration-line: underline;
		text-decoration-color: #5B5656;
	}

	outline-color: $opacity-color;

	transition: outline 0.3s ease-in;

	&:focus {
		outline: 1px solid $first;
	}
}


@media (max-width:1150px) {
	.header {
		padding: 37px 0 31px;
	}

	.logo-link {
		margin-right: 96px;
	}

	.logo-img {
		max-width: 300px;
		max-height: 59px;
	}

	.header__tel {
		font-size: 18px;
		line-height: 1.33;
		gap: 10px;
	}
}


@media (max-width:750px) {
	.header {
		padding: 30px 0;
	}

	.logo-link {
		margin: unset;
	}

	.logo-img {
		max-width: 300px;
		max-height: 59px;
	}

	.header__tel {
		display: none;
	}
}


@media (max-width:450px) {
	.header {
		padding: 20px 0 15px;
	}

	.logo-link {
		margin: unset;
	}

	.logo-img {
		max-width: 161px;
		max-height: 32px;
	}

	.header__tel {
		display: none;
	}
}