.hero {
	padding: 0;
}

.hero__content {
	position: relative;
	font-family: 'Comfortaa';
	display: flex;
	justify-content: space-between;
	height: 580px;

	@media (max-width:800px) {
		justify-content: flex-start;
		gap: 90px;
	}
}


.hero__pet-list {
	width: max-content;
	align-self: flex-end;
	display: flex;
	flex-direction: column;
	font-weight: 300;
	gap: 30px;
	padding-top: 100px;
	font-family: 'Helvetica Neue Cyr';

	@media (max-width:1100px) {
		gap: 20px;
		padding-top: 32px;
		font-size: 18px;
	}

	@media (max-width:800px) {
		padding: 0;
		font-size: 14px;
	}

	@media (max-width :560px) {
		align-self: center;
		flex-direction: row;
		gap: 10px;
		margin-bottom: 98px;
	}
}

.hero__pet-item {
	width: max-content;
}

.hero__pet-button {
	display: flex;
	align-items: center;
	gap: 20px;

	&::before {
		content: "";
		display: block;
		width: 80px;
		height: 80px;

		background: {
			position: center;
			size: cover;
			repeat: no-repeat;
		}


		@media (max-width:800px) {
			width: 60px;
			height: 60px;
		}
	}

	@media (max-width:560px) {
		flex-direction: column;
		gap: 5px;
	}

}

.hero__pet-button--boris {
	&::before {

		background-image: url("./../img/hero/boris.png");
		background-image:
			-webkit-image-set(url("./../img/hero/boris.webp") 1x,
				url("./../img/hero/boris.png") 1x);

		background-image: image-set(url("./../img/hero/boris.webp") 1x,
				url("./../img/hero/boris.png") 1x);
	}
}

.hero__pet-button--lui {
	&::before {

		background-image: url("./../img/hero/lui.png");
		background-image: -webkit-image-set(url("./../img/hero/lui.webp") 1x,
				url("./../img/hero/lui.png") 1x);

		background-image: image-set(url("./../img/hero/lui.webp") 1x,
				url("./../img/hero/lui.png") 1x);
	}
}

.hero__pet-button--piter {
	&::before {

		background-image: url("./../img/hero/piter.png");
		background-image: -webkit-image-set(url("./../img/hero/piter.webp") 1x,
				url("./../img/hero/piter.png") 1x);

		background-image: image-set(url("./../img/hero/piter.webp") 1x,
				url("./../img/hero/piter.png") 1x);
	}
}

.hero__pet-button--kenni {
	&::before {

		background-image: url("./../img/hero/kenni.png");
		background-image: -webkit-image-set(url("./../img/hero/kenni.webp") 1x,
				url("./../img/hero/kenni.png") 1x);

		background-image: image-set(url("./../img/hero/kenni.webp") 1x,
				url("./../img/hero/kenni.png") 1x);
	}
}

.hero__pet-item--sarah {
	display: none;
}

.hero__pet-button--sarah {

	&::before {

		background-image: url("./../img/hero/sarah-small.png");
		background-image: -webkit-image-set(url("./../img/hero/sarah-small.webp") 1x,
				url("./../img/hero/sarah-small.png") 1x);

		background-image: image-set(url("./../img/hero/sarah-small.webp") 1x,
				url("./../img/hero/sarah-small.png") 1x);
	}
}

.hero__content::after {
	/* ! important */
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	z-index: -1;
	text-align: center;
	display: block;
	content: "";
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 580px;
	width: 580px;
	transition: background-image 0.3s ease-in;

	@media (max-width:800px) {
		bottom: 0;
	}
}

.hero__content--sarah::after {
	background-image: var(--bg-hero-img);
	// background-image: -webkit-image-set(
	// 		/* 		url("./../img/hero/hero-sarah-buldog.avif") 1x, */
	// 		url("./../img/hero/hero-sarah-buldog.webp") 1x,
	// 		url("./../img/hero/hero-sarah-buldog.png") 1x);
	// background-image: image-set(
	// 		/* url("./../img/hero/hero-sarah-buldog.avif") 1x, */
	// 		url("./../img/hero/hero-sarah-buldog.webp") 1x,
	// 		url("./../img/hero/hero-sarah-buldog.png") 1x);
}

.hero__content--boris::after {
	background-image: var(--bg-hero-img);
	// background-image: url("./../img/hero/boris-main.png");
	// background-image: -webkit-image-set(
	// 		/* 		url("./../img/hero/hero-sarah-buldog.avif") 1x, */
	// 		url("./../img/hero/boris-main.webp") 1x,
	// 		url("./../img/hero/boris-main.png") 1x);
	// background-image: image-set(
	// 		/* url("./../img/hero/hero-sarah-buldog.avif") 1x, */
	// 		url("./../img/hero/boris-main.webp") 1x,
	// 		url("./../img/hero/boris-main.png") 1x);
}

.hero__content--lui::after {
	background-image: var(--bg-hero-img);

	// background-image: url("./../img/hero/lui-main.png");
	// background-image: -webkit-image-set(
	// 		/* 		url("./../img/hero/hero-sarah-buldog.avif") 1x, */
	// 		url("./../img/hero/lui-main.webp") 1x,
	// 		url("./../img/hero/lui-main.png") 1x);
	// background-image: image-set(
	// 		/* url("./../img/hero/hero-sarah-buldog.avif") 1x, */
	// 		url("./../img/hero/lui-main.webp") 1x,
	// 		url("./../img/hero/lui-main.png") 1x);
}

.hero__content--kenni::after {
	background-image: var(--bg-hero-img);

	// background-image: url("./../img/hero/kenni-main.png");
	// background-image: -webkit-image-set(
	// 		/* 		url("./../img/hero/hero-sarah-buldog.avif") 1x, */
	// 		url("./../img/hero/kenni-main.webp") 1x,
	// 		url("./../img/hero/kenni-main.png") 1x);
	// background-image: image-set(
	// 		/* url("./../img/hero/hero-sarah-buldog.avif") 1x, */
	// 		url("./../img/hero/kenni-main.webp") 1x,
	// 		url("./../img/hero/kenni-main.png") 1x);
}

.hero__content--piter::after {
	background-image: var(--bg-hero-img);

	// background-image: url("./../img/hero/piter-main.png");
	// background-image: -webkit-image-set(
	// 		/* 		url("./../img/hero/hero-sarah-buldog.avif") 1x, */
	// 		url("./../img/hero/piter-main.webp") 1x,
	// 		url("./../img/hero/piter-main.png") 1x);
	// background-image: image-set(
	// 		/* url("./../img/hero/hero-sarah-buldog.avif") 1x, */
	// 		url("./../img/hero/piter-main.webp") 1x,
	// 		url("./../img/hero/piter-main.png") 1x);
}

.hero__content--peter::after {
	background-image: var(--bg-hero-img);

	// background-image: url("./../img/hero/peter-main.png");
	// background-image: -webkit-image-set(
	// 		/* 		url("./../img/hero/hero-sarah-buldog.avif") 1x, */
	// 		url("./../img/hero/peter-main.webp") 1x,
	// 		url("./../img/hero/peter-main.png") 1x);
	// background-image: image-set(
	// 		/* url("./../img/hero/hero-sarah-buldog.avif") 1x, */
	// 		url("./../img/hero/peter-main.webp") 1x,
	// 		url("./../img/hero/peter-main.png") 1x);
}

.hero__text-content {
	flex-basis: 480px;
}

.hero__title {
	font-weight: 300;
	margin-top: 137px;
	font-size: 40px;
	font-weight: 300;
	line-height: 60px;
	margin-bottom: 81px;
}

.orange-text {
	color: var(--first);
}

.big-orange-text {
	color: var(--first);
	font-size: 60px;
	font-weight: 400;
	line-height: 60px;
}

@media (max-width:1100px) {
	.hero__text-content {
		flex-basis: 350px;
	}

	.hero__content {
		height: 450px;
	}

	.hero__content::after {
		width: 416px;
		height: 416px;
	}

	.big-orange-text {
		font-size: 44px;
		line-height: 1.23;
	}

	.hero__title {
		margin-top: 69px;
		font-size: 30px;
		line-height: 1.47;
		margin-bottom: 71px;
	}
}


@media (max-width:800px) {
	.hero__content {
		flex-direction: column;
		height: 500px;
	}


	.big-orange-text {
		font-size: 40px;
		line-height: 1.1;
	}

	.hero__title>br {
		display: none;
	}

	.hero__title {
		margin-top: 0;
		margin-bottom: 24px;
		font-size: 24px;
		line-height: 1.25;
	}

	.hero__text-content {
		flex-basis: content;
	}

	.hero__content::after {
		align-self: flex-end;
		width: 420px;
		height: 420px;
	}

	.help-button--hero {
		position: absolute;
		bottom: 171px;
		left: 0;
	}
}


@media (max-width:560px) {
	.hero__content {
		flex-direction: column;
		justify-content: space-between;
		height: 536px;
	}


	.big-orange-text {
		font-size: 26px;
		line-height: 1.69;
	}

	.hero__title>br {
		display: none;
	}

	.hero__title {
		font-size: 18px;

		line-height: 1.44;
		margin-top: 0;
		margin-bottom: 10px;
		line-height: 1.25;
	}

	.hero__text-content {
		flex-basis: content;
	}

	.hero__content::after {
		align-self: flex-end;
		width: 270px;
		height: 266px;
		top: 82px;
		bottom: unset;
	}

	.help-button--hero {
		position: absolute;
		bottom: 0px;
		left: clamp(20px, 5.42vw, 80px);

		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
	}
}