@font-face {
	font-family: 'Helvetica Neue Cyr';
	src: local("HelveticaNeue"), local("Helvetica-Neue"), local("Helvetica Neue"),
		url("./../font/Helvetica/HelveticaNeueCyr-Roman.woff2") format("woff2"),
		url("./../font/Helvetica/HelveticaNeueCyr-Roman.woff") format("woff"),
		url("./../font/Helvetica/HelveticaNeueCyr-Roman.ttf") format("truetype"),
		url("./../font/Helvetica/HelveticaNeueCyr-Roman.eot") format("embedded-opentype");
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Helvetica Neue Cyr';
	src: local("HelveticaNeue"), local("Helvetica-Neue"), local("Helvetica Neue"),
		url("./../font/Helvetica/HelveticaNeueCyr-Light.woff2") format("woff2"),
		url("./../font/Helvetica/HelveticaNeueCyr-Light.woff") format("woff"),
		url("./../font/Helvetica/HelveticaNeueCyr-Light.ttf") format("truetype"),
		url("./../font/Helvetica/HelveticaNeueCyr-Light.eot") format("embedded-opentype");
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Comfortaa';
	src: local("Comfortaa"), local("Comfortaa Regular"), local("Comfortaa-Regular"),
		url("./../font/Comfortaa/Comfortaa-Regular.woff2") format("woff2"),
		url("./../font/Comfortaa/Comfortaa-Regular.woff") format("woff"),
		url("./../font/Comfortaa/Comfortaa-Regular.ttf") format("truetype"),
		url("./../font/Comfortaa/Comfortaa-Regular.eot") format("embedded-opentype");
	font-weight: 400;
	font-display: swap;
}
